.aboutUs-section {
  margin-bottom: 12.8rem;
}
.about-grid {
  //   background-color: green;
  max-width: 120rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 8rem;
  gap: 4rem;
  row-gap: 1rem;
}
.about-img-div {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
}
.about-img {
  // width: 100%;
  // height: 100%;
  // position: absolute;
  padding-top: 5rem;
}
.about-img--1 {
  width: 100%;
}
.about-img--2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

// .about-img {
//   width: 100%;
//   height: 100%;

//   border-radius: 30px;
//   // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
// }
.about-data {
}
.about-heading {
  font-size: 4.8rem;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.about-heading-logo {
  margin-left: 1rem;
  height: 4.2rem;
  display: inline;
}
.about-subtopic-heading {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}
.about-subtopic-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  font-weight: 300;
  color: #444;
}

.about-topics-div {
  display: grid;
  grid-template-columns: auto 1fr; /* First column auto-sized, second takes remaining space */
  grid-auto-rows: auto;
  gap: 2rem;
  position: relative; /* Required for absolute positioning of bullet line */
}

.about-topics-div li {
  width: 20px;
  height: 20px;
  list-style: none;
  border-radius: 50%;
  background: radial-gradient(white 30%, #ff8000 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.about-topic-block {
  grid-column: 2;
}

.about-bullet-line {
  position: absolute;
  left: 9px; /* Center it on the bullets */
  height: 75%;
  border-left: 1px dotted #888;
}

@media (max-width: 1200px) {
  .about-grid {
    //   background-color: green;

    grid-template-columns: 1fr 1fr;
    padding: 4rem 4rem;
    gap: 4rem;
    row-gap: 1rem;
  }
  .about-subtopic-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 300;
    color: #444;
  }
}

@media (max-width: 1050px) {
  .about-grid {
    //   background-color: green;

    grid-template-columns: 1fr 1fr;
    padding: 4rem 4rem;
    gap: 4rem;
    row-gap: 1rem;
  }

  .about-heading {
    font-size: 4.2rem;
    color: #333;
    margin-bottom: 2.8rem;
  }
  .about-heading-logo {
    margin-left: 1rem;
    height: 4.2rem;
    display: inline;
  }
  .about-topics-div {
    display: grid;
    grid-template-columns: auto 1fr; /* First column auto-sized, second takes remaining space */
    grid-auto-rows: auto;
    gap: 2rem;
    // row-gap: 1rem;
    position: relative; /* Required for absolute positioning of bullet line */
  }
  .about-subtopic-heading {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
  }
  .about-subtopic-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 300;
    color: #444;
  }
}

@media (max-width: 950px) {
  .about-grid {
    //   background-color: green;

    grid-template-columns: 1fr 1fr;
    padding: 4rem 4rem;
    gap: 2rem;
    row-gap: 1rem;
  }

  .about-heading {
    font-size: 4.2rem;
    color: #333;
    margin-bottom: 2.8rem;
  }
  .about-heading-logo {
    margin-left: 1rem;
    height: 4.2rem;
    display: inline;
  }
  .about-topics-div {
    display: grid;
    grid-template-columns: auto 1fr; /* First column auto-sized, second takes remaining space */
    grid-auto-rows: auto;
    gap: 1rem;
    // row-gap: 1rem;
  }
  .about-subtopic-heading {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .about-subtopic-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .about-grid {
    //   background-color: green;

    grid-template-columns: 1fr;
    padding: 4rem;
    gap: 2rem;
    row-gap: 1rem;
    justify-items: center;
  }

  .about-heading {
    font-size: 4.2rem;
    color: #333;
    margin-bottom: 0rem;
    grid-row: 1;
  }
  .about-head-br {
    display: none;
  }
  .about-heading-logo {
    margin-left: 1rem;
    height: 4.2rem;
    // display: inline;
    display: none;
  }

  .about-img-div {
    grid-row: 2;
    // padding: 5rem;
    justify-items: center;
  }

  .about-img-div div {
    position: relative;
    width: 90%;
  }

  .about-img {
    padding-top: 0;
  }
  .about-img--1 {
  }
  .about-img--2 {
  }

  .about-topics-div {
    display: grid;
    grid-template-columns: auto 1fr; /* First column auto-sized, second takes remaining space */
    grid-auto-rows: auto;
    gap: 1rem;
    max-width: 50rem;
  }
  .about-subtopic-heading {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .about-subtopic-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .about-grid {
    padding: 1rem;
  }
  .about-heading {
    font-size: 3.2rem;
  }
  .about-topics-div {
    max-width: 40rem;
  }
  .about-subtopic-heading {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .about-subtopic-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) {
  .about-grid {
    padding: 1rem;
  }
  .about-heading {
    font-size: 2.8rem;
    letter-spacing: -0.5px;
  }
  .about-topics-div {
    max-width: 40rem;
  }
  .about-subtopic-heading {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .about-subtopic-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .about-img {
    // height: 20rem;
    width: 100%;
  }
}
