.section-contact {
  max-width: 90rem;
  //   background-color: red;
  margin: 0 auto 12.8rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.contact-card {
  display: flex;
  gap: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 4rem;
  border-radius: 11px;
}

.contact-email {
}

.contact-call {
}

.contact-div--1 {
}

.contact-div--2 {
}

.contact-link {
}

.contact-icon {
  font-size: 6.4rem !important;
  background: linear-gradient(to left top, orange, red);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contact-head {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.contact-head-sec {
  font-size: 2rem;
}

@media (max-width: 930px) {
  .section-contact {
    padding: 0 1rem;
    column-gap: 2rem;
  }

  .contact-icon {
    font-size: 4.2rem !important;
  }

  .contact-head {
    font-size: 1.8rem;
  }

  .contact-head-sec {
    font-size: 1.4rem;
  }
}

@media (max-width: 660px) {
  .section-contact {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .contact-card {
    justify-content: center;
    padding: 3rem;
    width: 400px;
    margin: 0 auto;
  }
  .contact-icon {
    font-size: 5.2rem !important;
  }

  .contact-head {
    font-size: 1.8rem;
  }

  .contact-head-sec {
    font-size: 1.4rem;
  }

  .section-contact {
    margin-bottom: 9.6rem;
  }
}

@media (max-width: 430px) {
  .contact-card {
    width: 300px;
  }
}
