.footer-box {
  //   background-color: red;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-container {
  padding: 12rem 20rem 18rem 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  // justify-items: center;
}
.footer-logo-div {
  padding-top: 4rem;
}
.footer-logo {
  // width: 100%;
  height: 8rem;
  margin-bottom: 2rem;
}
.footer-icon-div {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  // height: 4rem;
}

.footer-icon {
  font-size: 3rem;
  color: #555;
}
.footer-div {
}
.footer-heading {
  font-size: 2rem;
  color: #555;
  margin-bottom: 2.8rem;
  padding-left: 2rem;
  font-weight: 700;
}
.footer-ul {
}
.footer-li {
  list-style: none;
  font-size: 1.6rem;
  color: #555;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.footer-sub-icon {
  font-size: 1.8rem;
  padding-right: 1rem;
  text-align: center;
}
.footer-li div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}
.footer-li div span {
  // display: block;
  font-size: 1.8rem;
  font-weight: 500;
}
.footer-address {
}
.footer-contact {
}
.footer-about {
}

@media (max-width: 1319px) {
  .footer-container {
    padding: 12rem 10rem 18rem 10rem;
  }
}

@media (max-width: 1114px) {
  .footer-container {
    padding: 12rem 5rem 18rem 5rem;
  }
}

@media (max-width: 950px) {
  .footer-container {
    padding: 6rem 10rem 6rem 10rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    justify-items: center;
  }
  .footer-logo-div {
    grid-column: 1/-1;
  }
}

@media (max-width: 733px) {
  .footer-container {
    padding: 6rem 5rem 6rem 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo-div {
    grid-column: 1/-1;

    justify-items: center;
  }
}
// @media (max-width: 600px) {
//   .footer-container {
//     padding: 6rem 2rem 6rem 2rem;
//     grid-template-columns: repeat(2, 1fr);
//     column-gap: 1rem;
//   }
//   .footer-logo-div {
//     grid-column: 1/-1;

//     justify-items: center;
//   }
// }

@media (max-width: 600px) {
  .footer-container {
    // font-size: 40% !important;
    padding: 6rem 2rem 6rem 2rem;

    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 4rem;
  }
  .footer-heading {
    text-align: center;
  }
}
