.hero-section {
  width: 100%;
  height: 75rem;
  // height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 12.8rem;
}

.hero-bg-div.fire {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.hero-bg-div.fire::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: radial-gradient(rgba(255, 0, 0, 0.7), #ffbb00);
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);

  animation: heroFireCircle 5s ease-in-out forwards;
}

@keyframes heroFireCircle {
  0% {
    width: 2100px;
    height: 1800px; /* Tall oval */
  }
  60% {
    width: 900px;
    height: 1100px; /* Shrinking */
  }
  80% {
    width: 1200px;
    height: 1200px; /* Final = perfect circle */
  }
  100% {
    width: 1100px;
    height: 1100px; /* Final = perfect circle */
  }
}

.hero-bg-div.solar {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden; /* hides excess blob curves */
}

.hero-solar-bg-blob {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover; /* fits shape nicely without distortion */
  z-index: -1;
  transform-origin: bottom right;
  animation: blobPulse 6s forwards ease-in-out;
}

@keyframes blobPulse {
  0% {
    width: 100%;
    height: 150%;
  }
  // 30% {
  //   width: 80%;
  //   height: 110%;
  // }
  50% {
    width: 70%;
    height: 110%;
  }
  100% {
    width: 80%;
    height: 120%;
  }
}
.hero-grid {
  // position: relative;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // background-color: red;
  padding: 15rem 0 0 0;
  max-width: 120rem;
  gap: 2rem;
  row-gap: 7rem;
  margin: 0 auto;
}
.hero-content {
  // position: absolute;
  color: rgb(0, 0, 0);
  z-index: 1;
  // height: 40rem;
  // height: 37rem;
  // max-width: 60rem;
  // margin-bottom: 5rem;
  // background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-img-div {
  // position: relative;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  display: flex;
  align-items: center;
}

/* Base image style */
.hero-img {
  width: 100%;
  // height: 36rem;
  display: block;
  margin: 0 auto;
  // object-fit: cover;
  // height: 37rem;
  // height: 100%;
}

/* Delay for each image to shift animation */
.hero-img--1 {
}
.hero-img--2 {
}
.hero-img--3 {
}

/* Zoom + z-index animation */

/* Centered Content for Fire Fighting */

/* Title (Centered) */
.hero-title {
  font-size: 4.4rem;
  text-align: center;
  // text-align: right;
  font-weight: bold;
  margin: 0 0 3rem 0;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* Description (Below Title) */
.hero-description {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2.2rem;

  text-align: center;
  // text-align: right;

  color: #ffffff;
  color: #555;

  // max-width: 600px;
  margin: 0 0 3rem 0;
}

/* Buttons Container */
.hero-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  // justify-content: right;
}

/* Buttons */
.hero-button {
  // display: block;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;

  will-change: transform, opacity;
  border-radius: 10px;
}

.hero-button.primary {
  background-color: #af0000;
  background-color: #21549c;
  background-color: #96c2ff;
  background-color: rgb(255, 128, 0);
  background-color: #ff8000;
  color: white;
  border: 1px solid white;
}

.hero-button.secondary {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.hero-button.primary:hover {
  background-color: #d43f3f;
}

.hero-button.secondary:hover {
  background-color: white;
  color: black;
}

.hero-info-tab {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 12rem;
  padding: 4rem;

  justify-items: center;

  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 3rem;
}

.hero-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-info-head {
  font-size: 4rem;
  font-weight: 500;
  background: linear-gradient(to left, orange, orange, red);
  color: transparent;
  background-clip: text;
}
.hero-info-sub {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  text-transform: capitalize;
}

@media (max-width: 1300px) {
  .hero-grid {
    padding: 12rem 0 0 0;
  }
}

@media (max-width: 1220px) {
  .hero-section {
    height: 67rem;
  }
  .hero-grid {
    margin: 0 5rem;
  }

  .hero-title {
    font-size: 3.6rem;
  }

  .hero-description {
    font-size: 1.4rem;
  }
}

@media (max-width: 1030px) {
  .hero-section {
    height: 112rem;
  }
  .hero-grid {
    margin: 0 5rem;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .hero-title {
    font-size: 4.2rem;
    max-width: 70rem;
  }

  .hero-description {
    max-width: 70rem;

    font-size: 1.6rem;
  }
  .hero-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    // object-fit: cover;
    // height: 37rem;
    // height: 100%;
  }
  .hero-info-tab {
    width: 100%;
  }

  @keyframes blobPulse {
    0% {
      width: 100%;
      height: 85%;
    }
    // 30% {
    //   width: 80%;
    //   height: 110%;
    // }
    50% {
      width: 80%;
      height: 60%;
    }
    100% {
      width: 120%;
      height: 75%;
    }
  }
}

@media (max-width: 800px) {
  .hero-section {
    height: 108rem;
  }
  .hero-grid {
    margin: 0 1rem;
  }
}

@media (max-width: 750px) {
  .hero-section {
    height: 105rem;
  }
  .hero-info-tab {
    padding: 0;
  }
}

@media (max-width: 660px) {
  .hero-section {
    height: 99rem;
  }
  .hero-grid {
    padding: 10rem 0 0 0;
  }
  .hero-title {
    font-size: 3.6rem;
    max-width: 50rem;
  }
  .hero-description {
    font-size: 1.4rem;
    max-width: 50rem;
  }

  .hero-info {
    margin: auto;
    flex-direction: column;
    gap: 0;
  }

  .hero-info-head {
    font-size: 3.2rem;
    text-align: center;
  }

  .hero-info-sub {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media (max-width: 560px) {
  .hero-section {
    height: 95rem;
  }
  @keyframes heroFireCircle {
    0% {
      width: 1400px;
      height: 1200px; /* Tall oval */
    }
    60% {
      width: 600px;
      height: 732px; /* Shrinking */
    }
    80% {
      width: 800px;
      height: 800px; /* Final = perfect circle */
    }
    100% {
      width: 732px;
      height: 732px; /* Final = perfect circle */
    }
  }
}

@media (max-width: 500px) {
  .hero-section {
    height: 92rem;
  }
  .hero-title {
    font-size: 3.2rem;
    max-width: 42rem;
    margin-bottom: 2rem;
  }
  .hero-description {
    font-size: 1.4rem;
    max-width: 42rem;
    margin-bottom: 2rem;
  }
  .hero-img {
    width: 90%;
  }
}
@media (max-width: 420px) {
  .hero-section {
    height: 87rem;
  }
  .hero-title {
    font-size: 2.8rem;
  }
  .hero-description {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .hero-img {
    width: 90%;
  }

  .hero-info-head {
    font-size: 2.4rem;
  }

  .hero-info-sub {
    font-size: 1.4rem;
  }
}
