/* Navbar Container */
.navbar {
  position: fixed; /* Sticks to the top but outside the normal flow */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999; /* Ensures it stays on top */
  padding: 1rem 0rem;
  margin: 0 auto;
  backdrop-filter: blur(2px);
  // background-color: white;
}

/* Logo Styling */
.navbar-logo {
  display: block;
  height: 6rem;
  // width: 20rem;
}

/* Centered Links */
.navbar-links {
  display: flex;
  list-style: none;
  padding: 0 3rem;
  gap: 1rem;
  backdrop-filter: blur(2px); /* Subtle blur effect */
}

.navbar-links li {
  display: inline;
}
.navbar-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: opacity 0.3s;
  padding: 0.8rem 1.6rem;
}
.navbar-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

// .navbar-dropdown {
//   position: relative;
// }
// .dropdown-div {
//   position: absolute;
//   display: none;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//   background-color: white;
//   left: -12%;
//   top: 100%;
//   padding: 1rem 1.5rem;
//   width: 20rem;
//   // opacity: 0;
//   // text-align: center;
//   transition: all 0.4s;
//   background-color: rgb(250, 250, 250);
// }

// .navbar-dropdown:hover .dropdown-div {
//   display: block;
//   // opacity: 1;
//   // top: 100%;
// }
// .dropdown-link {
//   display: block;
//   text-decoration: none;
//   color: rgb(0, 0, 0);
//   font-size: 1.6rem;
//   font-weight: 600;
//   letter-spacing: 1px;
//   transition: opacity 0.3s;
//   padding: 0.8rem 1.6rem;
// }
.navbar-dropdown {
  position: relative;
}

.dropdown-div {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  left: -14%;
  top: 100%;
  padding: 1rem 1.5rem;
  width: max-content;
  transition: opacity 0.4s ease, transform 0.4s ease;
  border-radius: 10px;
  transform: translateY(20px);
  display: flex;
  flex-direction: column;
}

.navbar-dropdown:hover .dropdown-div {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-link {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: opacity 0.3s;
  padding: 0.8rem 1.6rem;
}

.navbar-links a:hover {
}

/* Login Button */
.navbar-login-div {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar-btn {
  text-transform: capitalize;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 10px;
}
.login-btn {
  background-color: #ff8000;
  color: white;
  border: 1px solid #ff8000;
  transition: all 0.3s;
  position: relative;
}

.signin-btn {
  background-color: white;
  color: #ff8000;

  border: 1px solid #ff8000;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 180px;
  border-radius: 5px;
}

.dropdown-menu li {
  padding: 10px;
  white-space: nowrap;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}
// //////////////////////////////////////////////
.menu-btn {
  display: none;
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #777;
}

@media screen and (max-width: 1000px) {
  .navbar {
    justify-content: flex-start;
    padding: 1rem 2rem;
  }
  .navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-links,
  .navbar-login-div {
    display: none;
  }
  .navbar-logo {
    display: block;
    height: 4rem;
    // width: 20rem;
  }

  .menu-btn {
    display: block;
  }

  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    );
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay-content {
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .close-btn {
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    font-weight: bold;
  }

  .overlay-links {
    list-style: none;
    padding: 0;
    // margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
  }
  .overlay-link {
    font-weight: 700;
  }
  .overlay-link--main {
    text-decoration: none;
    font-weight: 700;
    color: #333;
  }
  .overlay-link--sec {
    font-weight: 300;
    text-decoration: none;
    color: #444;
    font-weight: 400;
  }

  .overlay-link-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .overlay-buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .navbar-btn {
    width: 70%;
    padding: 1rem;
    font-size: 1.6rem;
  }
}
/* SUB OVERLAY STYLES */
.sub-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.overlay-menu {
  overflow-y: auto;
}

.overlay-menu::-webkit-scrollbar {
  // width: 6px;
  display: none;
}

.overlay-link-ins {
  // margin-bottom: 1rem;
}
.overlay-menu::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
