.product-container {
  margin: 0 auto;
  margin-bottom: 12.8rem;
  margin-top: 3.2rem;
  // max-width: 120rem;
}
.product-title {
  font-size: 4.8rem;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 7.2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.product-disc-box {
  max-width: 120rem;
  margin: 0 auto 12.8rem auto;
}
.product-text-box {
  margin-bottom: 4.4rem;
}
.product-text-img-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
}

.product-image-div {
  width: 100%;
  // height: 40rem;
  // overflow: hidden;
}

.product-description-box {
}
.product-description {
  font-size: 1.6rem;
  text-transform: none;
  line-height: 1.5;
  color: #555;
  margin-bottom: 2rem;
  text-indent: 3rem;
  text-align: justify;
}
.product-image {
  display: block;
  width: 100%;

  border-radius: 10px;
}
.product-text {
  font-size: 1.6rem;
  text-transform: none;
  line-height: 1.5;
  color: #555;
  margin-bottom: 2rem;
  text-indent: 3rem;
}

.product-items-sec {
  max-width: 120rem;
  margin: 0 auto 12.8rem auto;
}

.product-items-list-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3.2rem;
  // height: 50rem;
  height: max-content;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 6.4rem;
}
.product-itmes-list {
  //   background-color: blue;
  padding: 2.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow: scroll;
}
.product-itmes-list::-webkit-scrollbar {
  display: none;
}
.product-item-div {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.product-item-div:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.product-item {
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.product-item-img-div {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 2rem;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 41rem;
  height: 100%;
  //   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.product-adv-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
  // background-color: beige;
  max-width: 120rem;
  margin: 0 auto 12.8rem auto;
}

.product-section-title {
  font-size: 4rem;
  text-align: center;
  // margin-bottom: 3.2rem;
  // padding-left: 3rem;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);

  // margin-bottom: 5rem;

  grid-column: 1/-1;
}
.product-adv-text-box {
  // background-color: red;
  height: 55rem;
  display: flex;
  align-items: center;
}
.product-adv-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 50rem;
}
.product-adv-item {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.product-adv-icon {
  background: linear-gradient(
    to right bottom,
    rgba(255, 166, 0, 0.714),
    rgba(255, 166, 0, 0.714),
    orange,
    rgba(255, 0, 0, 0.733)
  );
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 40px;
  height: 40px;
  padding: 2rem;
  border-radius: 10px;
}

.product-adv-item p strong {
  font-size: 2rem;
}
.product-adv-item p {
  font-size: 1.6rem;
  line-height: 1.5;
  // align-self: flex-start;
}
.product-adv-img-box {
}

.product-adv-img-box img {
  display: block;
  width: 100%;
}

@media (max-width: 1200px) {
  // .product-container {
  //   padding: 0 4rem;
  // }
  .product-description:nth-child(3) {
    display: none;
  }
  .product-section-title {
    // margin-bottom: 4rem;
  }
}

@media (max-width: 1130px) {
  .product-adv-box {
    grid-template-columns: 1.3fr 1fr;
  }
  .product-adv-img-box {
    align-self: center;
  }
  .product-description {
    font-size: 1.4rem;
  }

  .product-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 1045px) {
  .product-text-img-div {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
  .product-adv-box {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5rem;
  }
  .product-adv-text-box {
    height: max-content;
  }
  .product-adv-list {
    height: max-content;
  }
  .product-items-list-div {
    grid-template-columns: 1fr;
  }
  .product-adv-list {
    // align-items: center;
  }
  .product-adv-img-box {
    max-width: 70rem;
  }
  .product-items-list-div {
    height: max-content;
  }
  .product-itmes-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-section-title {
    margin-bottom: 0rem;
  }
  .product-description {
    font-size: 1.4rem;
  }

  .product-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 1045px) {
  .product-text-img-div {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
  .product-adv-box {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5rem;
  }
  .product-adv-text-box {
    height: max-content;
  }
  .product-adv-list {
    height: max-content;
  }
  .product-items-list-div {
    grid-template-columns: 1fr;
  }
  .product-adv-list {
    // align-items: center;
  }
  .product-adv-img-box {
    max-width: 70rem;
  }
  .product-items-list-div {
    height: max-content;
  }
  .product-itmes-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-disc-box {
    margin-bottom: 7.2rem;
  }
  .product-adv-box {
    margin-bottom: 7.2rem;
  }
}

@media (max-width: 740px) {
  .product-title {
    font-size: 4.2rem;
  }
  .product-itmes-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-section-title {
    // margin-bottom: 3.2rem;
  }
}

@media (max-width: 610px) {
  // .product-container {
  //   padding: 0 1rem;
  // }
  .product-itmes-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-adv-icon {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;
    border-radius: 10px;
  }

  .product-adv-item p strong {
    font-size: 1.8rem;
  }
  .product-adv-item p {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .product-section-title {
    font-size: 2.8rem;
  }
  .product-adv-box {
    gap: 4rem;
  }
}

@media (max-width: 520px) {
  .product-items-list-div {
    padding: 2rem 0;
  }

  .product-text-img-div {
  }
  .product-itmes-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  .product-item-img-div {
    padding: 1rem;
  }
  .product-img {
    height: max-content;
  }
  .product-itmes-list {
    height: 30rem;
    overflow: scroll;
  }
  .product-adv-box {
    gap: 2rem;
  }
  .product-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 485px) {
  .product-adv-icon {
  }

  .product-adv-item {
    gap: 1rem;
  }

  .product-adv-item p strong {
    font-size: 1.4rem;
  }
  .product-adv-item p {
    font-size: 1.2rem;
    line-height: 1.5;
    // align-self: flex-start;
  }
}
