.section-projects {
  margin-bottom: 12.8rem;
}

.projects-box {
  // background-color: red;
  margin: 0 auto;
  width: 120rem;
  height: 45rem;
  margin-bottom: 2.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  //   background-color: red;
}
.projects-heading-box {
  //   background-color: red;
  margin-bottom: 3.2rem;
  text-align: center;
}
.projects-sub-heading {
  font-size: 1.6rem;
  color: #ff8700;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.projects-heading {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 4.4rem;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.project {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  // background-color: blue;
  border-radius: 10px;
  height: 45rem;
  transition: all 0.3s;
  overflow: hidden;
}

.project:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.project:hover .project-img {
  transform: scale(1.05);
}

.project-img {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 20rem;
  transition: all 0.3s;
}
.project-data-box {
  height: 25rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.project-company-name {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  height: 5rem;
  font-weight: 700;
}
.project-company-work {
  font-size: 1.4rem;
  color: #555;
  font-weight: 400;
}
.project-data-box div {
  align-self: flex-end;

  margin: auto 2rem 1rem auto;
}
.project-more-btn:link,
.project-more-btn:visited {
  margin-top: auto;
  width: fit-content;
  text-transform: capitalize;
  text-decoration: none;
  color: #fffdfa;
  background-color: #ff8000;
  font-size: 1.4rem;
  align-self: flex-end;
  padding: 1rem 2rem;
  // margin-right: 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.project-more-btn:active,
.project-more-btn:hover {
  background-color: #c46200;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.project-more-btn-div {
  // padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.project-explore-btn:link,
.project-explore-btn:visited {
  margin: 0 auto;
  color: #ff8000;
  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.3s;
}
.project-explore-btn:active,
.project-explore-btn:hover {
  color: #c46200;
}
