.product-container {
  margin: 0 auto;
  margin-bottom: 12.8rem;
  margin-top: 4.2rem;
  width: 120rem;
}
.product-title {
  font-size: 4.8rem;
  text-align: center;
  color: #333;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 7.2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.product-disc-box {
  margin-bottom: 12.8rem;
}
.product-text-box {
  margin-bottom: 4.4rem;
}
.product-text-img-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 40rem;
  // overflow: hidden;
  // padding: 2rem;
  gap: 4rem;
  margin-bottom: 4rem;
}

.product-image-div {
  width: 100%;
  // height: 40rem;
  // overflow: hidden;
}

.product-description-box {
}
.product-description {
  font-size: 1.6rem;
  text-transform: none;
  line-height: 1.5;
  color: #555;
  margin-bottom: 2rem;
  text-indent: 3rem;
  text-align: justify;
}
.product-image {
  display: block;
  width: 100%;

  border-radius: 10px;
}
.product-text {
  font-size: 1.6rem;
  text-transform: none;
  line-height: 1.5;
  color: #555;
  margin-bottom: 2rem;
  text-indent: 3rem;
}

.product-items-sec {
  margin-bottom: 12.8rem;
}
.product-section-title {
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
  // padding-left: 3rem;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}
.product-items-list-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3.2rem;
  height: 50rem;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 6.4rem;
}
.product-itmes-list {
  //   background-color: blue;
  padding: 2.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow: scroll;
}
.product-itmes-list::-webkit-scrollbar {
  display: none;
}
.product-item-div {
  width: 14rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.product-item-div:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.product-item {
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.product-item-img-div {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 2rem;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 41rem;
  //   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.product-adv-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  // background-color: beige;
  margin-bottom: 12.8rem;
}
.product-adv-text-box {
  // background-color: red;
}
.product-adv-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.product-adv-item {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.product-adv-icon {
  background: linear-gradient(
    to right bottom,
    rgba(255, 166, 0, 0.714),
    rgba(255, 166, 0, 0.714),
    orange,
    rgba(255, 0, 0, 0.733)
  );
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 40px;
  height: 40px;
  padding: 2rem;
  border-radius: 10px;
}

.product-adv-item p strong {
  font-size: 2rem;
}
.product-adv-item p {
  font-size: 1.6rem;
  line-height: 1.5;
  // align-self: flex-start;
}
.product-adv-img-box {
  background-color: #333;
  position: relative;
}

.product-adv-img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
